# Website Configuration
BASE_URL='http://localhost/'
ENVIRONMENT='development'
TIMEZONE='America/Caracas'
LANGUAGE='english'

# Database Configuration
DB_HOST='localhost'
DB_USERNAME='root'
DB_PASSWORD=''
DB_DATABASE=''
DB_CONNECTION='mysqli'

# Email Configuration (Auth)
EMAIL_VERIFICATION=TRUE
SENDER_EMAIL='sender@email'
SENDER_NAME='CI3Starter'

# Email Configuration (Auth) - Production
# SMTP_HOST           = 'ssl://smtp.gmail.com'
# SMTP_PORT           = 465
# SMTP_USER           = ''
# SMTP_PASS           = ''

# Email Configuration (Auth) - Development
SMTP_HOST='localhost'
SMTP_PORT=1025
SMTP_USER=''
SMTP_PASS=''